<!doctype html>
<html lang="en">
  <head>
    <title>Telegram Interact Tool</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <a href="/index" class="navbar-brand text-primary"><i class="fa fa-telegram" aria-hidden="true"></i></a>
          <ul class="navbar-nav mr-auto">
            {% if session['isAdmin'] == 1 %}
              <li class="nav-item">
                  <a href="/register" class="nav-link"><i class="fa fa-user-plus" aria-hidden="true"></i> New account</a>
                </li>
              <li class="nav-item">
                  <a href="/renderSetAdmin" class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i> Set ADMIN</a>
                </li>
            {% endif %}
                <li class="nav-item">
                  <a href="/logout" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </li>
          </ul>
      </nav>
      <div class="container-fluid d-flex justify-content-center">
          <div class="col-12 col-md-3">
              <div class="card-group">
                  <div class="card">
                    {% if session['isAdmin'] == 1 %}                 
                        <div class="card-header">
                            <form action="/insertUsers" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="groupfile">Choose file to add users:</label>
                                    <input type="file" class="form-control-file" name="groupfile" id="groupfile" placeholder="Browse" aria-describedby="fileHelpId" accept=".xls, .xlsx, .csv">
                                    <small id="fileHelpId" class="form-text text-muted"></small>
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary">Add Users</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <form action="/schedule-tasks" method="post">
                                <div class="form-group">
                                  <label for="hourSelect">Start send messages after each:</label>
                                  <select class="form-control" name="hourSelect" id="hourSelect">
                                    <option selected disabled>Hour</option>
                                    <option value="0.1">0.1</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                  </select>
                                </div>
                                <button type="submit" class="btn btn-success">Schedule</button>
                            </form>
                        </div>
                    {% else %}                
                        <div class="card-header">
                            <form action="/schedule-tasks" method="post">
                                <div class="form-group">
                                  <label for="hourSelect">Start send messages after each:</label>
                                  <select class="form-control" name="hourSelect" id="hourSelect">
                                    <option selected disabled>Hour</option>
                                    <option value="0.1">0.1</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                  </select>
                                </div>
                                <button type="submit" class="btn btn-success">Schedule</button>
                            </form>
                        </div>
                    {% endif %}
                  </div>
                    
              </div>
          </div>
          <div class="col-12 col-md-3">
              <!-- group here -->
              <div class="card-group">
                  <div class="card">
                      <div class="card-header">
                          <form action="/uploadGroupFile" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="groupfile">Choose file to add group:</label>
                                <input type="file" class="form-control-file" name="groupfile" id="groupfile" placeholder="Browse" aria-describedby="fileHelpId" accept=".xls, .xlsx, .csv">
                                <small id="fileHelpId" class="form-text text-muted"></small>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Add Group</button>
                            <a name="deleteGroup-btn" id="deleteGroup-btn" class="btn btn-sm btn-danger" href="/deleteAllGroups" role="button">Delete Groups</a>
                        </form>
                      </div>
                      <div class="card-body">
                          <table class="table table-sm table-striped table-bordered">
                              <thead class="thead-light">
                                  <tr>
                                      <th>Group ID</th>
                                      <th>Group Title</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in groups %}
                                  <tr>
                                      <td>{{ i['group_id'] }}</td>
                                      <td>{{ i['group_title'] }}</td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                      <div class="card-footer">
                        <a name="start-btn" id="start-btn" class="btn btn-sm btn-success" href="/start" role="button">Start Interact</a>
                    </div>
                  </div>
              </div>
          </div>


          <div class="col-12 col-md-6">
              <!-- content here -->
              <div class="card-group">
                  <div class="card">
                      <div class="card-header">
                        <form action="/uploadContentFile" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="contentfile">Choose file to add content:</label>
                                <input type="file" class="form-control-file" name="contentfile" id="contentfile" placeholder="Browse" aria-describedby="fileHelpId" accept=".xls, .xlsx, .csv">
                                <small id="fileHelpId" class="form-text text-muted"></small>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary">Add content</button>
                            <a name="deleteContent-btn" id="deleteContent-btn" class="btn btn-sm btn-danger" href="/deleteAllContent" role="button">Delete All Content</a>
                        </form>
                      </div>
                      <div class="card-body">
                          <table class="table table-striped table-bordered table-sm">
                              <thead class="thead-light">
                                  <tr>
                                      <th>User</th>
                                      <th>Content</th>
                                      <th>Group ID</th>
                                      <th>Delay(s)</th>
                                  </tr>
                                  {% for i in dialog %}
                                  <tr>
                                      <td>{{ i['user_id'] }}</td>
                                      <td>{{ i['content'] }}</td>
                                      <td>{{ i['group_id']}}</td>
                                      <td>{{ i['delay']}}</td>
                                  </tr>
                                  {% endfor %}
                              </thead>
                              <tbody></tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>




 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>