<!doctype html>
<html lang="en">
  <head>
    <title>Telegram Interact Tool</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-light bg-light">
          <a href="/index" class="navbar-brand"><img src="#" alt="" width="25" height="25" class="d-inline-block">WEB NAME</a>
          <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
      </nav>
      <div class="container-fluid d-flex justify-content-center">
          <div class="col-12 col-md-3">
              <!-- timer here -->
              <div class="card-group">
                  <div class="card">
                      <div class="card-header">
                          <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option selected disabled>Hour</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">One</option>
                                <option value="5">Two</option>
                                <option value="6">Three</option>
                                <option value="7">One</option>
                                <option value="8">Two</option>
                                <option value="9">Three</option>
                                <option value="10">One</option>
                                <option value="11">Two</option>
                                <option value="12">Three</option>
                              </select>
                          </div>
                      </div>
                      <div class="card-body">
                          <h4 class="card-title">Title</h4>
                          <p class="card-text">Text</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-3">
              <!-- group here -->
              <div class="card-group">
                  <div class="card">
                      <div class="card-header">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a name="addGroup-btn" id="addGroup-btn" class="btn btn-primary" href="/insertGroups" role="button">Add Group</a>
                              </div>
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                              </div>
                        </div>
                      </div>
                      <div class="card-body">
                          <table class="table table-sm table-striped table-bordered">
                              <thead class="thead-light">
                                  <tr>
                                      <th>Group ID</th>
                                      <th>Group Title</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for i in groups %}
                                  <tr>
                                      <td>{{ i['group_id'] }}</td>
                                      <td>{{ i['group_title'] }}</td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                      <div class="card-footer">
                        <a name="start-btn" id="start-btn" class="btn btn-success" href="/start" role="button">Start Interact</a>
                    </div>
                  </div>
              </div>
          </div>


          <div class="col-12 col-md-6">
              <!-- content here -->
              <div class="card-group">
                  <div class="card">
                      <div class="card-header">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a name="addDialog-btn" id="addDialog-btn" class="btn btn-primary" href="/insertDialogue" role="button">Add lines</a>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                      </div>
                      <div class="card-body">
                          <table class="table table-striped table-bordered table-sm">
                              <thead class="thead-light">
                                  <tr>
                                      <th>User</th>
                                      <th>Content</th>
                                      <th>Group ID</th>
                                  </tr>
                                  {% for i in dialog %}
                                  <tr>
                                      <td>{{ i['user_id'] }}</td>
                                      <td>{{ i['content'] }}</td>
                                      <td>{{ i['group_id']}}</td>
                                  </tr>
                                  {% endfor %}
                              </thead>
                              <tbody></tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>









      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>